# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.env
*.venv
env/
venv/
ENV/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Django
*.log
*.pot
*.pyc
*.mo
*.sqlite3
db.sqlite3
media/
staticfiles/
local_settings.py

# VS Code
.vscode/

# macOS
.DS_Store

# Node
node_modules/

# Environment variables
.env
.env.*

# Coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/

# Kudoes specific
kudoes/static/
kudoes/media/