@import url('hhtps://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');
@import url(_colors.css);
@import url(_fonts.css);

html{
    font-size: 13px;
}
@media only screen and (min-width:1441px) {
    html{
        font-size: 15px;
    }
}   

@media only screen and (min-width:1601px) {
    html{
        font-size: 16px;
    }
}

@media only screen and (min-width:1921px) {
    html{
        font-size: 17px;
    }
}